* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background: #ecb9e1;
  padding: 100px 3%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero h1 {
  font-size: 75px;
  position: relative;
  z-index: 2;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
  cursor: pointer;
  transition: transform 0.5s;
}
.hero h1:hover {
  -webkit-text-fill-color: #000;
  transform: translateY(-10px);
}
.img-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55%;
  background-image: url(./jimnnys_292432041_159163086630164_5145337936526839861_n.jpg);
  background-size: cover;
  background-position: center;
  transition: background-image 1s;
}
.hero h1:nth-child(1):hover ~ .img-box {
  background-image: url(./jimnnys_292158019_1275103359690934_1225552575609998327_n.jpg);
}
.hero h1:nth-child(2):hover ~ .img-box {
  background-image: url(./jimnnys_292128996_355089569937589_2981748679728316125_n.jpg);
}
.hero h1:nth-child(3):hover ~ .img-box {
  background-image: url(./dme.optics_293984909_1097276487810954_3950754177735663211_n.jpg);
}
